﻿body {
    min-width: 360px;
}

/* ======== HEADER ======== */
#header{
    border-bottom: 1px solid;
}
#main-nav ul {
    text-align: center;
    padding: 0;
}
#main-nav li{
    margin: 0 auto;
    display: inline-block;
    border: 1px solid;
    /*padding: 20px;*/
    width: 25%; 
    min-width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}
#main-nav li a{
    color: black;
    text-decoration: none;
}
#main-nav li a:hover{
    color: black;
    text-decoration: underline;
}
#main-nav li a:visited{
    color: black;
}

/*==========================*/
#sibebar {
    background-color: rgba(202, 197, 255, 0.63);
    text-align: center !important;
}
#main-content {
    background-color: rgba(237, 237, 237, 0.63);
}
    /*=============IMG=============*/
#main-content img {
    margin: 0 auto;
    width: 30%;
    height: auto;
    top:0;
    right: 0;
}
#htmlCss{
    width: 100% !important;
}

/*=========== Contact form ===========*/
input,
select,
textarea {
    max-width: 100%;
}
    input[type="submit"] {
        background: none;
        border-radius: 5px;
        border: 1px solid #c3c3c3;
        padding: 8px 5px;
        margin: 0 auto;
        display: block;
        transition: background 200ms;
        margin-top: 10px;
    }

        input[type="submit"]:hover {
            background: #c3c3c3;
            color: #ffffff;
        }
        
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}